#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.result-container {
  display: grid;
  grid-template-columns: 1fr 8em;
}

.results {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  align-content: start;
  justify-content: right;
}

.results li {
  list-style-type: none;  border:1px solid white;
  padding: .5em;
  transition: .2s all;
}

.results li:hover,
.crumbs li:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.crumbs {
  text-align: left;
  list-style: none;
  margin: 0 0 0 0.5em;
  padding: 0 0.5em;
  border-left: 2px solid white;
}
.crumbs li {
  padding: 0 0 0 .3em;
}

.removeBorder {
  border:none;
}
